9-IrisDataManually/my_project
9-IrisDataManually/.vscode/
.idea
venv
10-TextMining(WIP)/Amazon_Unlocked_Mobile.csv
13-ImageRecognition(WIP)/flowers-recognition.zip
13-ImageRecognition(WIP)/flowers
10-TextMining/Amazon_Unlocked_Mobile.csv
13-ImageRecognition/flowers-recognition.zip
13-ImageRecognition/flowers
7-ExtraTreeClassifier/trees
14-ImageRecognition/flowers_sample/*.h5
15-GAN/img